<!-- <input #var1 type="number" [value] ="var1" (keyup)="updatevar1(var1.value)">
<input #var2 type="number" [value] ="var2" (keyup)="updatevar2(var2.value)"> -->
<!-- <input  type="number" [(ngModel)] ="var1" >
<input  type="number" [(ngModel)] ="var2" >
<button (click)="total()">ADD</button><br>
Answer is : {{ans}}
<div *ngIf="ans>100; 
    else elseBlock">greater than 100</div>
<ng-template #elseBlock><br> not greater than 100</ng-template>

<div [ngSwitch]="day">
    <div *ngSwitchCase ="'monday'">today is monday</div>
    <div *ngSwitchCase ="'tuesday'">today is tuesday</div>
    
</div> -->

<!-- <div class="login-container">
  <h1 class="login-heading">Login page</h1>

  <div class="a">
    <label for="username">Username:</label>
    <input type="text" placeholder="USERNAME" [(ngModel)]="username" #usernameInput>
  </div>

  <div class="a">
    <label for="password">Password:</label>
    <input type="text" placeholder="PASSWORD" [(ngModel)]="password" #passwordInput>
  </div>

  <button (click)="onSubmit()" type="submit" class="login-button">Login</button>

  
  <div *ngIf="this.login == true; 
        else elseBlock">{{var1}} </div>
  <ng-template #elseBlock><br> {{var2}}</ng-template>
</div> -->
<input #newTaskElem type="text" [(ngModel)]="newTask" (keyup)="errorMsg = '';"> <br>
<small>{{errorMsg}}</small> <br>
<button class="btn btn-primary" *ngIf="!isEdit" (click)="add(newTaskElem.value)">Add Task</button> 
<button class="btn btn-primary" *ngIf="isEdit" (click)="save()">Edit Task</button> 
<button class="btn btn-primary" *ngIf="isEdit" (click)="cancelEdit()">Cancel</button> 

<br>


<ol>
    <li *ngFor="let task of todo;index as i">
        {{task}} 
        <button (click)="remove(i)">DEL</button>
        <button (click)="edit(i)">EDIT</button>
    </li>
</ol>